.animation-container {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate__fadeIn {
    animation-name: fadeIn;
  }
  